/*Estilos css para tarjeta de visita.*/

html {
  background-color: white;
  background-image: url('images/Foto_MDC.png');
}

body {
  width: 400px;
  margin: auto;
  text-align: center;

}

nav {
  background-color: #ABABAB;
  border: 2px solid;
  padding: 5px;
}

section {
  background-image: url('images/papel_rugoso.jpg');
  padding: 5px;
  border: 3px solid;
}
