/*Estilos css para tarjeta de visita.*/

html {
  background-color: white;
}

body {
  width: 400px;
  margin: auto;
  text-align: center;

}

nav {
  background-color: grey;
  border: 2px solid;
}

section {
  background-image: url('/images/papel_rugoso.jpg');
  padding: 5px;
}
